html{
    background-color:black;
}

#myDiv{
 display: block; 
 justify-content: center;
 align-items: center;
 text-align: center;
 color: aliceblue;
 padding-top: 150px;

width:100%;
max-width:100%;
overflow: hidden;

}

img{
    width: 740px;
    height: 460px;
    border: 5px solid white;

width:100%;
max-width:100%;
overflow: hidden;
}

@media (max-width:600px){

img{
    width: 440px;
    height: 260px;
  
    border: 5px solid white;

width:100%;
max-width:100%;
overflow: hidden;
}
    
}
